.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

video{
  margin-top: 1%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  background-color: black;
  color: white;
}

.App header {
   background-color: black;
   opacity: 0.5;
}

.App-link {
  color: #61dafb;
}

.About{
  display: flex;
  justify-content: center;
  padding: 10%;
  font-size: 5vh;
}

.About img{
  margin-right: 20%;
}

.About p{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.picRow{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0%;

}

.picRow img{
  margin-bottom: 0%;
}

.itemName{
  display: flex;
  justify-content: space-evenly;
  margin-top:0%;
  font-size: 4vh;
}

.itemName p{
  display: flex;
}

.itemName button{
  background-color: transparent;
  background-color: lightblack;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
